/* DAKTS COLORS */
.lightdaktscolor{
    background-color: #ffcfa7;
}
.mediumdaktscolor1{
    background-color: #c76b37; 
}
.mediumdaktscolor2{
    background-color: #c39964; 
}
.darkdaktscolor{
    background-color: #5d472f;
}
.greendaktscolor{
    background-color: #01605a;
}
.orangedaktscolor{
    background-color: #ff852d;
}
.navbox {
    float: inline-end;
    padding-left: 3rem !important;
}
nav {
    transition: 0.7s;
}
#navspace{
    transition: padding 0.3s ease;
}
.navbar-nav li{
    display: inline;
    margin-right: 3rem;
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-style: normal;
}
.navbar-toggler-icon{
    background-image: url(/burger.svg);
}
.navbar-nav {
    border-bottom: solid 1px white;
}
.btn {
    color: #c76b37;
    background-color: white;
    border-radius: .1rem;
    font-size: .9rem;
}
.down{
    backdrop-filter: blur(7px);
}
.down a img{
    width: 150px;
    transition: 0.5s;
}
.nav-link{
    color: white;
    font-size: .9rem;
}
.nav-link.active{
    font-family: "IBM Plex Mono", monospace;
    font-weight: 700;
    font-style: normal;
    color: white;
}
.navbar-brand {
    margin: 0rem 3rem;
}
.navbar-toggler {
    margin: 0rem 3rem 0 0;
    border: none;
    background-color: #5d472f30;
    border-radius: 0.15rem;
}
.offcanvas {
    height: 100vw;
}

@media (max-width: 575.98px) {
    .navbar-brand {
        margin: 0 2rem;
    }
    .navbar-toggler {
        margin: 0.5rem 1rem 0 0;
    }
}

@media (min-width: 576px) and (max-width: 767.98px){

}

@media (min-width: 768px) and (max-width: 991.98px){

}

@media (min-width: 992px) and (max-width: 1199.98px){
    .navbar-nav li{
        margin-right: 1.5rem;
    }
    .nav-link{
        font-size: .8rem;
    }
    .btn{
        font-size: .8rem;
    }
}

@media (min-width: 1200px) and (max-width: 1399.98px){

}

@media screen and (min-width: 1400px){

}