<main class="mainshop">
    <section class="hero-section overlayhero">
        <div class="container-fluid text-center">
            <h1>Choose a better future!
            </h1>
        </div>
    </section>
    <section class="signdakts">
        <div class="container-fluid">
            <img class="d-block mx-auto" src="/sign-DAKTS.webp" alt="sign Dakts" width="100">
        </div>
    </section>
    
    <section class="products-section">
        <div class="container-fluid">
            @if (products.length > 0) {
                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                     
                      <div class="carousel-item active">
                        
                            <div class="card">
                                <div class="img-wrapper">
                                    <img src="/pistachio-butter-nut.png" alt="..." width="100%" height="auto">
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">Hazelnut butter stuffed dates</h5>
                                  <h6 class="card-text">covered with dark chocolate</h6>
                                  <p class="carousel-price">$3,50</p>
                                  <a href="#" class="btn btn-primary">Buy now</a>
                                </div>
                            </div>
                        
                      </div>
                      @for (product of products; track $index){
                      <div class="carousel-item">
                        <div class="card">
                            <div class="img-wrapper">
                                <img src="http://localhost:3000/images/{{ product.image }}" alt="{{ product.name }} {{ product.subhead }}" width="100%" height="auto">
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">{{ product.name }}</h5>
                              <h6 class="card-text">{{ product.subhead }}</h6>
                              <p class="carousel-price">${{ product.price }}</p>
                              <a href="#" class="btn btn-primary">
                                <span>Buy now</span></a>
                            </div>
                          </div>
                      </div>
                    }
                      <!-- <div class="carousel-item">
                        <div class="card">
                            <div class="img-wrapper">
                                <img src="/pistachio-butter-nut.png" alt="..." width="100%" height="auto">
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Hazelnut butter stuffed dates</h5>
                              <h6 class="card-text">covered with dark chocolate</h6>
                              <p class="carousel-price">$3,50</p>
                              <a href="#" class="btn btn-primary">Buy now</a>
                            </div>
                          </div>
                      </div> --> 
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                </div>
    
                <div class="container allproducts">
                    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 g-2 g-sm-2 g-md-2 g-lg-3">
                        @for (product of products; track $index){
                            <div class="col card">
                                <div class="img-wrapper">
                                    <img src="http://localhost:3000/images/{{ product.image }}" alt="{{ product.name }} {{ product.subhead }}" width="100%" height="auto">
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">{{ product.name }}</h5>
                                  <h6 class="card-text">{{ product.subhead }}</h6>
                                  <p class="carousel-price">${{ product.price }}</p>
                                  <a href="#" class="btn btn-primary">Buy now</a>
                                </div>
                              </div>
                        }
                        
                          <!-- <div class="col card">
                            <div class="img-wrapper">
                                <img src="/pistachio-butter-nut.png" alt="..." width="100%" height="auto">
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Peanut butter stuffed dates</h5>
                              <h6 class="card-text">covered with dark chocolate</h6>
                              <p class="carousel-price">$3,50</p>
                              <a href="#" class="btn btn-primary">
                                <span>Buy now</span></a>
                            </div>
                          </div>
                          <div class="col card">
                            <div class="img-wrapper">
                                <img src="/pistachio-butter-nut.png" alt="..." width="100%" height="auto">
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Hazelnut butter stuffed dates</h5>
                              <h6 class="card-text">covered with dark chocolate</h6>
                              <p class="carousel-price">$3,50</p>
                              <a href="#" class="btn btn-primary">Buy now</a>
                            </div>
                          </div> -->
                    
                    </div>
                </div>

            }
            

            <div class="container">
                <div class="row centerbadge">
                    <div class="col-lg-4 col-md-5 col-sm-6 col-6">
                        <img class="d-block" src="/crafted-badge.webp" alt="100% organic, 85% cocoa" width="200">
                    </div>
                </div>

            </div>
        </div>
    </section>



    
    <section class="dishdakts">
        <div class="container">
            <div class="row rightdish">
                <div class="col-lg-6 col-md-7 col-sm-8 col-12">
                    <img class="d-block dishnuts" src="/dishofnuts.webp" alt="dish nuts">
                </div>
            </div>  
        </div>
    </section>
</main>
