.mainshop {
    margin-top: -100px;
    /* padding-left: 0.9rem;
    padding-right: 0.9rem; */
    background-image: url(/textures/Textura-02.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
}
.hero-section{
    background-image: url(/dakts-escenario-5.jpg);
    background-position: 50% 50%;
    background-size: cover;
    background-repeat: no-repeat;
}
.overlay {
    background-color: #1e110454;
    padding: 15rem 2rem 3rem;
}
h1 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 4.2rem;
    font-style: normal;
    color: white;
}
h2 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 3.6rem;
    font-style: normal;
    color: white;
}
h4 {
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-size: 0.9rem;
    text-transform: uppercase;
    letter-spacing: 0.15rem;
    color: white;
}
.signdakts{
    margin-top: -3rem;
}
.clearfix{
    height: 2rem;
}
.products-section{
    background-color: #5d472f;
    padding: 9rem 0 5rem 0;
    margin-top: 0.2rem;
}
.features-section{
    background-color: #5d472f;
    padding: 1rem 0 10rem 0;
}
.square {
    background-color: #ffffff0a;
    border: solid 1px;
    border-color: #ffffff1a;
    height: 150px;
    padding: 1.5rem;
}
.card-icon-top{
    width: 50%;
    align-self: center;
}
.card-data{
    padding: 1rem 0 0 0;
    text-align: center;
}
.card-data h4{
    font-family: 'Ubuntu', sans-serif;
    font-size: .9rem;
    text-transform: none;
    letter-spacing: 0;
    font-weight: 700;
    color: #ffe398;
}
.card-body{
    padding: 1rem 2rem 2rem 2rem;
    text-align: start;
}
.card-body h4{
    font-family: 'Ubuntu', sans-serif;
    font-weight: 700;
    color: #ff852d;
}
.peanut-butter{
    background-image: url(/frame-peanut-butter.png);
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
}
.peanut-butter:hover{
    background-image: url(/frame-pistachio-butter-hover.png);
    background-position: 50% 50%;
    background-size: contain;
    background-repeat: no-repeat;
    transition: .35s ease-in-out;
}
.card{
    background-image: url(/frames/frame-peanut-butter.png);
    background-color: #ffffff00;
    border: none;
    margin: 0rem;
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    transition: .25s ease-in-out;
}
.card:hover{
    background-image: url(/frames/frame-peanut-butter-hover.png);
    transition: .25s ease-in-out;
}
.card-body{
    padding: 0rem 0 1rem 4rem;
}
.card-body h5 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    font-style: normal;
    color: #c76b37;
    margin-bottom: 0.1rem;
}
.card-text{
    font-family: "Roboto", sans-serif;
    font-size: 1.1rem;
    font-weight: 400;
    font-style: normal;
    color: #c76b37;
    letter-spacing: 0.02rem;
}
.carousel-price{
    font-family: "IBM Plex Mono", monospace;
    font-weight: 300;
    font-size: 1.2rem;
    font-style: normal;
    color: #c76b37;
    margin: 1rem 0 1.5rem 0;
}
.btn-primary{
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-size: 1rem;
    font-style: normal;
    text-transform: uppercase;
    color: white;
    background-color: #ff852d;
    border-color: #ff852d;
    border-radius: 10rem;
}
.btn-primary:hover{
    background-color: #c76b37;
    border-color: #c76b37;
}
.btn{
    padding: 0.9rem 1.5rem;
}
.btn span{
    width: 100%;
    display: block;
    position: relative;
    z-index: 1;
    -webkit-transition: all .3s cubic-bezier(0,.5,.5,1);
    -o-transition: all .3s cubic-bezier(0,.5,.5,1);
    transition: all .3s cubic-bezier(0,.5,.5,1);
    -webkit-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
}
.img-wrapper{
    max-width: 100%;
    height: 65vw;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.carousel-inner{
    padding: 1rem;
}
.cta-section{
    background-color: #ffcfa7;
    padding: 5rem 0 4rem 0;
    margin-top: -3rem;
    color:#01605a;
}
.cta-section h3{
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 2.4rem;
    font-style: normal;
    color:#01605a;
}
.cta-section p {
    font-family: 'IBM Plex Mono';
    font-size: 1rem;
    line-height: 1.8rem;
    font-weight: 400;
    color:#01605a;
}

.parallax-container {
    position: relative;
    height: 100vh;
    overflow: hidden;
    padding: 2rem;
  }

#parallax{
    background-color: #5d472f30;
}
  
.parallax-background {
    background-image: url(/dakts-location-4.jpg);
    background-position: center;
    background-size: cover;
    background-blend-mode: color-burn;
    position: absolute;
    top: -130px;
    left: 0;
    width: 100%;
    height: 100%; /* Más altura para un mejor efecto parallax */
    z-index: 0;
    will-change: transform;
    align-content: space-around;
  }
  .parallax-content {
    position: relative;
    z-index: 1;
    color: white;
  }

  .slide-in {
    opacity: 0;
    transform: translateY(100px); /* O ajusta según la dirección del slide */
    transition: transform 0.6s ease-out, opacity 0.6s ease-out;
  }

  .slide-in.active {
    opacity: 1;
    transform: translateY(0);
  }

@media (max-width: 575.98px) {
    h1 {
        font-size: 2.8rem;
    }
    h2 {
        font-size: 1.9rem;
    }
    h3 {
        font-size: 1.6rem;
    }
    h4 {
        font-size: 0.75rem;
    }
    .allproducts {
        display: none;
    }
    .card-body h5{
        font-size: 1.8rem;
    }
    .card-text{
        font-size: 1.1rem;
    }
    .features-section{
        padding: 1rem 3rem 10rem 3rem;
    }
    .square {
        height: 150px;
        align-content: center;
    }
    .card-data h4{
        font-size: .7rem;
    }
}

@media (min-width: 576px) and (max-width: 767.98px){
    h1 {
        font-size: 2.8rem;
    }
    h2 {
        font-size: 2.1rem;
    }
    h3 {
        font-size: 1.9rem;
    }
    p {
        font-size: .75rem;
        line-height: 1.1rem;
        letter-spacing: 0.02rem;
    }
    h4 {
        font-size: 0.8rem;
    }
    .card-body{
        padding: 0rem 0 1rem 5rem;
    }
    .card-body h5{
        font-size: 1.4rem;
    }
    .card-text{
        font-size: 0.9rem;
    }
    .carousel-price{
        margin: 0.9rem 0 2rem;
    }
    .btn-primary{
        font-size: 0.8rem;
    }
    .carousel-inner{
        display: flex;
    }
    .carousel-item{
        display: block;
        margin-right: 0;
        flex: 0 0 calc(100%/2);
    }
    .img-wrapper{
        height: 36vw;
    }
    .centerbadge{
        margin-top: 0.5rem;
    }
    .centerbadge img{
        width: 180px;
    }
    .dishdakts{
        margin-top: -5rem;
    }
    .features-section{
        padding: 1rem 4rem 10rem 4rem;
    }
    .square {
        height: 180px;
        align-content: center;
    }
    .card-data h4{
        font-size: .8rem;
    }
}

@media (min-width: 768px) and (max-width: 991.98px){
    h1 {
        font-size: 3.2rem;
    }
    h2 {
        font-size: 2.4rem;
    }
    h3 {
        font-size: 2.1rem;
    }
    p {
        font-size: .8rem;
        line-height: 1.3rem;
        letter-spacing: 0.02rem;
    }
    h4 {
        font-size: 0.9rem;
    }
    .img-wrapper{
        height: 40vw;
    }
    .card-body{
        padding: 0rem 0 1rem 6rem;
    }
    .card-body h5{
        font-size: 1.6rem;
    }
    .card-text{
        font-size: 1rem;
    }
    .carousel-price{
        margin: 1rem 0 3rem;
    }
    .btn-primary{
        font-size: 0.9rem;
    }
    .square {
        padding: 1rem;
    }
    .card-icon-top{
        width: 70%;
    }
    .card-data h4{
        font-size: .7rem;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    h1 {
        font-size: 3.6rem;
    }
    h2 {
        font-size: 3rem;
    }
    h3 {
        font-size: 2.4rem;
    }
    p {
        font-size: .8rem;
        line-height: 1.3rem;
        letter-spacing: 0.02rem;
    }
    .img-wrapper{
        height: 20vw;
    }
    .card-body{
        padding: 0rem 0 1rem 3rem;
    }
    .card-body h5{
        font-size: 1.3rem;
    }
    .card-text{
        font-size: 1rem;
    }
    .carousel-price{
        margin: 1rem 0 2rem;
    }
}

@media (min-width: 1200px) and (max-width: 1399.98px) {
    h1 {
        font-size: 4.2rem;
    }
    h2 {
        font-size: 3.6rem;
    }
    h3 {
        font-size: 2.8rem;
    }
    .img-wrapper{
        height: 21vw;
    }
    .features-section{
        padding: 1rem 5rem 10rem 5rem;
    }
    .square {
        height: 170px;
    }
}

@media screen and (min-width: 576px) {
    .carousel{
        display: none;
    }
}

@media screen and (min-width: 1400px){
    .img-wrapper{
        height: 23vw;
    }
    .card-body{
        padding: 0rem 0 1rem 4rem;
    }
    .card-body h5{
        font-size: 1.9rem;
    }
    .features-section{
        padding: 1rem 7rem 10rem 7rem;
    }
    .square {
        height: 180px;
    }
    
}