<main class="mainshop">
  <section class="hero-section">
    <div class="overlay">
      <div class="container-fluid text-center">
        <h1>Wild Snacks</h1>
        <h4>Shop</h4>
      </div>
    </div>
  </section>
    
    
    <section class="products-section">
        <div class="container-fluid">
            @if (products.length > 0) {
                <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                    <div class="carousel-inner">
                     
                      <div class="carousel-item active">
                        
                            <div class="card">
                                <div class="img-wrapper">
                                    <img src="/pistachio-butter-nut.png" alt="..." width="100%" height="auto">
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">Hazelnut butter stuffed dates</h5>
                                  <h6 class="card-text">covered with dark chocolate</h6>
                                  <p class="carousel-price">$3,50</p>
                                  <a href="#" class="btn btn-primary">Buy now</a>
                                </div>
                            </div>
                        
                      </div>
                      @for (product of products; track $index){
                      <div class="carousel-item">
                        <div class="card">
                            <div class="img-wrapper">
                                <img src="http://localhost:3000/images/{{ product.image }}" alt="{{ product.name }} {{ product.subhead }}" width="100%" height="auto">
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">{{ product.name }}</h5>
                              <h6 class="card-text">{{ product.subhead }}</h6>
                              <p class="carousel-price">${{ product.price }}</p>
                              <a href="#" class="btn btn-primary">
                                <span>Buy now</span></a>
                            </div>
                          </div>
                      </div>
                    }
                      <!-- <div class="carousel-item">
                        <div class="card">
                            <div class="img-wrapper">
                                <img src="/pistachio-butter-nut.png" alt="..." width="100%" height="auto">
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Hazelnut butter stuffed dates</h5>
                              <h6 class="card-text">covered with dark chocolate</h6>
                              <p class="carousel-price">$3,50</p>
                              <a href="#" class="btn btn-primary">Buy now</a>
                            </div>
                          </div>
                      </div> --> 
                    </div>
                    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                </div>
    
                <div class="container allproducts">
                    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-2 row-cols-lg-4 g-2 g-sm-2 g-md-2 g-lg-3">
                        @for (product of products; track $index){
                            <div class="col card my-4 slide-in">
                                <div class="img-wrapper">
                                    <img src="http://localhost:3000/images/{{ product.image }}" alt="{{ product.name }} {{ product.subhead }}" width="100%" height="auto">
                                </div>
                                <div class="card-body">
                                  <h5 class="card-title">{{ product.name }}</h5>
                                  <h6 class="card-text">{{ product.subhead }}</h6>
                                  <p class="carousel-price">${{ product.price }}</p>
                                  <a href="#" class="btn btn-primary">Buy now</a>
                                </div>
                              </div>
                        }
                        
                          <!-- <div class="col card">
                            <div class="img-wrapper">
                                <img src="/pistachio-butter-nut.png" alt="..." width="100%" height="auto">
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Peanut butter stuffed dates</h5>
                              <h6 class="card-text">covered with dark chocolate</h6>
                              <p class="carousel-price">$3,50</p>
                              <a href="#" class="btn btn-primary">
                                <span>Buy now</span></a>
                            </div>
                          </div>
                          <div class="col card">
                            <div class="img-wrapper">
                                <img src="/pistachio-butter-nut.png" alt="..." width="100%" height="auto">
                            </div>
                            <div class="card-body">
                              <h5 class="card-title">Hazelnut butter stuffed dates</h5>
                              <h6 class="card-text">covered with dark chocolate</h6>
                              <p class="carousel-price">$3,50</p>
                              <a href="#" class="btn btn-primary">Buy now</a>
                            </div>
                          </div> -->
                    
                    </div>
                </div>

            }

        </div>
    </section>

    <section class="features-section">
      <div class="container">
          <div class="row row-cols-2 row-cols-sm-2 row-cols-md-5 row-cols-lg-5 g-3 g-sm-3 g-md-3 g-lg-3 text-center">
              <div class="col">
                  <div class="square slide-in">
                      <img src="/features/icon-organic.png" class="card-icon-top" alt="100% Organic Icon">
                      <div class="card-data">
                          <h4>100% Organic</h4>
                      </div>
                  </div>
              </div>
              <div class="col">
                  <div class="square slide-in">
                      <img src="/features/icon-cocoa.png" class="card-icon-top" alt="85% Cocoa Icon">
                      <div class="card-data">
                          <h4>85% Cocoa</h4>
                      </div>
                  </div>
              </div>
              <div class="col">
                  <div class="square slide-in">
                      <img src="/features/icon-no-cane-sugar.png" class="card-icon-top" alt="No Cane Sugar Icon">
                      <div class="card-data">
                          <h4>No Cane Sugar</h4>
                      </div>
                  </div>
              </div>
              <div class="col">
                  <div class="square slide-in">
                      <img src="/features/icon-no-refined-sugar.png" class="card-icon-top" alt="No Refined Sugar Icon">
                      <div class="card-data">
                          <h4>No Refined Sugar</h4>
                      </div>
                  </div>
              </div>
              <div class="col">
                  <div class="square slide-in">
                      <img src="/features/icon-palmoil-free.png" class="card-icon-top" alt="Palm Oil Free Icon">
                      <div class="card-data">
                          <h4>Palm Oil Free</h4>
                      </div>
                  </div>
              </div>
              
          </div>
      </div>
  </section>

  <section class="signdakts">
    <div class="container-fluid">
        <img class="d-block mx-auto slide-in" src="/sign-DAKTS.webp" alt="sign Dakts" width="100">
    </div>
  </section>

  <section class="cta-section">
      <div class="container text-center">
          <div class="col-lg-11 col-md-12 col-sm-12 mx-auto slide-in">
              <h3>So, are you ready to awaken your senses and nourish your soul with DAKTS?</h3>
              <div class="clearfix"></div>
              <p>Savor the exquisite flavors bite to bite and reconnect with the essence of who you are – a steward of the earth, fueled by passion, discipline, and a deep reverence for our shared origins.</p>
          </div>
      </div>
  </section>

  <section id="parallax-section" class="parallax-container">
      <div id="parallax" class="parallax-background">
          <div class="container-fluid parallax-content text-center slide-in">
              <h4>ALMOND BUTTER STUFFED DATES COVERED WITH DARK CHOCOLATE</h4>
              <h2>Fall into this sweet temptation</h2>
          </div>
      </div>
  </section>

    
</main>
