<main class="mainhome">
    <section class="hero-section">
        <div class="container-fluid text-center">
            <h1>Better food better life.
                <br>
                Better life better future!
            </h1>
        </div>
    </section>
    <section class="signdakts">
        <div class="container-fluid">
            <img class="d-block mx-auto" src="/sign-DAKTS.webp" alt="sign Dakts" width="100">
        </div>
    </section>
    <section class="welcome-section">
        <div class="container text-center">
            <div class="col-lg-9 col-md-11 col-sm-12 mx-auto">
                <h4><b>WELCOME TO DAKTS,</b> SAVOR THE FLAVOR OF NATURE'S BOUNTY!</h4>
                <div class="clearfix"></div>
                <h2>Every bite is a celebration of mindful pleasure and reverence for Mother Nature</h2>
            </div>
        </div>
    </section>
    <section class="lovers-section">
        <div class="container">
            <div class="row justify-content-md-center chlovers">
                <div class="col-lg-4 col-md-5 col-sm-5 col-6 nutshape">
                    <h2>Hey there, nuts and chocolate lovers!</h2>
                </div>
                <div class="col-lg-4 col-md-6 col-sm-7 col-6">
                    <p>Seekers of self-care and guardians of holistic well-being! <b>Get ready to elevate your snacking experience with DAKTS!</b></p>
                </div>
            </div>
        </div>
    </section>
    <section class="products-section">
        <div class="container-fluid">
            <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <div class="card" style="background-image: url(/frame-pistachio-butter.png);">
                        <div class="img-wrapper">
                            <img src="/pistachio-butter-nut.png" alt="..." width="100%" height="auto">
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">Pistachio butter stuffed dates</h5>
                          <h6 class="card-text">covered with dark chocolate</h6>
                          <p class="carousel-price">$3,50</p>
                          <a href="#" class="btn btn-primary">Buy now</a>
                        </div>
                      </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card" style="background-image: url(/frame-pistachio-butter.png);">
                        <div class="img-wrapper">
                            <img src="/pistachio-butter-nut.png" alt="..." width="100%" height="auto">
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">Peanut butter stuffed dates</h5>
                          <h6 class="card-text">covered with dark chocolate</h6>
                          <p class="carousel-price">$3,50</p>
                          <a href="#" class="btn btn-primary">
                            <span>Buy now</span></a>
                        </div>
                      </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card" style="background-image: url(/frame-pistachio-butter.png);">
                        <div class="img-wrapper">
                            <img src="/pistachio-butter-nut.png" alt="..." width="100%" height="auto">
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">Hazelnut butter stuffed dates</h5>
                          <h6 class="card-text">covered with dark chocolate</h6>
                          <p class="carousel-price">$3,50</p>
                          <a href="#" class="btn btn-primary">Buy now</a>
                        </div>
                      </div>
                  </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
            </div>

            <div class="main-products">
                <div class="carousel-inner">
                  <div class="carousel-item">
                    <div class="card" style="background-image: url(/frame-pistachio-butter.png);">
                        <div class="img-wrapper">
                            <img src="/pistachio-butter-nut.png" alt="..." width="100%" height="auto">
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">Pistachio butter stuffed dates</h5>
                          <h6 class="card-text">covered with dark chocolate</h6>
                          <p class="carousel-price">$3,50</p>
                          <a href="#" class="btn btn-primary">Buy now</a>
                        </div>
                      </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card" style="background-image: url(/frame-pistachio-butter.png);">
                        <div class="img-wrapper">
                            <img src="/pistachio-butter-nut.png" alt="..." width="100%" height="auto">
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">Peanut butter stuffed dates</h5>
                          <h6 class="card-text">covered with dark chocolate</h6>
                          <p class="carousel-price">$3,50</p>
                          <a href="#" class="btn btn-primary">
                            <span>Buy now</span></a>
                        </div>
                      </div>
                  </div>
                  <div class="carousel-item">
                    <div class="card" style="background-image: url(/frame-pistachio-butter.png);">
                        <div class="img-wrapper">
                            <img src="/pistachio-butter-nut.png" alt="..." width="100%" height="auto">
                        </div>
                        <div class="card-body">
                          <h5 class="card-title">Hazelnut butter stuffed dates</h5>
                          <h6 class="card-text">covered with dark chocolate</h6>
                          <p class="carousel-price">$3,50</p>
                          <a href="#" class="btn btn-primary">Buy now</a>
                        </div>
                      </div>
                  </div>
                </div>
            </div>

            <div class="container">
                <div class="row centerbadge">
                    <div class="col-lg-4 col-md-5 col-sm-6 col-6">
                        <img class="d-block" src="/crafted-badge.webp" alt="100% organic, 85% cocoa" width="200">
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="dishdakts">
        <div class="container">
            <div class="row rightdish">
                <div class="col-lg-6 col-md-7 col-sm-8 col-12">
                    <img class="d-block dishnuts" src="/dishofnuts.webp" alt="dish nuts">
                </div>
            </div>  
        </div>
    </section>
    <section class="crafted-section">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-lg-5 col-md-5 col-sm-6 text-center">
                    <img class="lifestylepics" src="/Photograpy_style.jpg" alt="women enjoying nuts">
                </div>
                <div class="col-lg-4 col-md-5 col-sm-6 brownshape">
                    <div class="infobox">
                        <h2>Carefully crafted to nourish your mind and body</h2>
                        <div class="clearfix"></div>
                        <p><b>We're more than just a snack brand</b> – we're on a mission to nourish your entire being. Our exotic treats are carefully curated for those who understand the importance of holistic wellness and prioritize self-care, honoring the interconnectedness of mental, physical, and spiritual health.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="heart-badge">
                <img class="d-block mx-auto" src="/heart-badge.webp" alt="Made with love badge" width="200">
            </div>
        </div>
    </section>
    <section class="manifiesto-section">
        <div class="container">
            <div class="row justify-content-sm-center">
                <div class="col-lg-9 col-md-11 col-sm-12">
                    <h3>Each plump date, harvested from California's sun-kissed palms, is a testament to our commitment to mindful pleasure.</h3>
                    <div class="clearfix"></div>
                    <h4><b>AT DAKTS,</b> WE BELIEVE IN HONORING THE ROOTS OF OUR INGREDIENTS</h4>
                </div>
            </div>
        </div>
    </section>

</main>
