<main class="main-myaccount">
    <section class="your-account">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-lg-3 col-md-4 col-sm-4 nutshape">
                    <h3>Hi sunshine!</h3>
                </div>
                <div class="col-lg-6 col-md-8 col-sm-8">
                    <h3>Welcome</h3>
                    <p>From your account dashboard you can view your recent orders, manage your shipping and billing addresses, and edit your password and account details.
                    </p>
                </div>
            </div>
        </div>
    </section>
</main>
