<main class="mainverify">
    <section class="hero-section">
        <div class="container-fluid text-center">
            <h1>Join in</h1>
            <h4>This is your place</h4>
        </div>
      </section>
    <section class="welcome-user-section">
        <div class="container">
            <div class="row justify-content-md-center text-center">
                <div class="col-lg-6 col-md-8 col-sm-8">
                    <h3>Great! We are so happy you've join us!</h3>
                    
                    <p><b>Check your mailbox</b> to verify your Dakts' account.</p>
                    <div class="clearfix"></div>
                    <a routerLink="/login" class="btn btn-primary">Start here again</a>
                </div>
            </div>
        </div>
    </section>
</main>
