<main class="mainverify">
    <section class="welcome-user-section">
        <div class="container">
            <div class="row justify-content-md-center text-center">
                <div class="col-lg-6 col-md-8 col-sm-8">
                    <h3>Great! We are so happy you've join us!</h3>
                    <div class="clearfix"></div>
                    <p>Check your mailbox to verify your Dakts' account.</p>
                    
                    <!-- <a routerLink="home" class="btn btn-primary">Start here again</a> -->
                </div>
            </div>
        </div>
    </section>
</main>
