<main class="mainhome">
    <section class="hero-section">
        <div class="container-fluid text-center">
            <h1>Earth’s Riches</h1>
            <h4>Our ingredients</h4>
        </div>
    </section>

    <section class="intro-section">
        <div class="container text-center slide-in">
            <div class="col-lg-9 col-md-11 col-sm-12 mx-auto">
                <h4>Sourced with Purpose, <b>Sweetened</b> with Nature's Touch</h4>
                <div class="clearfix"></div>
                <h2>Behind the fruits of Dakts</h2>
            </div>
        </div>
    </section>
    <section class="about-section">
        <div class="container">
            <div class="row justify-content-md-center slide-in">
                <div class="col-lg-6 col-md-6 col-sm-6 aboutimage">
                    <div class="heightimage"></div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 brownshape">
                    <div class="infobox">
                        <h2>We believe in the power of conscious consumption</h2>
                        <div class="clearfix"></div>
                        <p><b>Which is why we carefully select our ingredients from sustainable sources.</b> Our rich, velvety chocolate hails from the lush cacao fields of Peru and Ecuador, while our sweetener of choice is none other than nature's own gift – date sugar. With every bite, you're not just indulging your taste buds; you're also supporting ethical farming practices and honoring the earth's abundance.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="signdakts">
        <div class="container-fluid slide-in">
            <img class="d-block mx-auto" src="/sign-DAKTS.webp" alt="sign Dakts" width="100">
        </div>
    </section>
    <section class="manifesto">
        <div class="container">
            <h3>The harvest</h3>
            <div class="row justify-content-md-center mb-4 slide-in">
                <div class="col-lg-6 col-md-6 col-sm-6 dateimage">
                    <div class="heightimage"></div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 beigeshape">
                    <div class="databox">
                        <h4>Organic Medjool</h4>
                        <h2>Dates</h2>
                        <div class="clearfix"></div>
                        <p>A natural source of energy, rich in essential nutrients like fiber, potassium, magnesium, and B vitamins. They support digestive health, boost heart function, and provide a quick, sustained energy boost. With their natural sweetness, Medjool dates are a healthy alternative to refined sugars, making them perfect for snacking or sweetening recipes naturally.</p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-md-center mb-4 slide-in">
                <div class="col-lg-6 col-md-6 col-sm-6 beigeshape">
                    <div class="databox">
                        <h4>Our Dark Chocolate</h4>
                        <h2>85% Cocoa</h2>
                        <div class="clearfix"></div>
                        <p>A rich source of antioxidants, which help fight free radicals and reduce inflammation. It supports heart health by improving blood flow and lowering blood pressure, thanks to its high flavonoid content. Additionally, it provides a boost of energy, enhances mood, and contains minerals like iron, magnesium, and zinc, making it a guilt-free indulgence with numerous health benefits.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 cocoaimage">
                    <div class="heightimage"></div>
                </div>
            </div>

            <div class="row justify-content-md-center mb-4 slide-in">
                <div class="col-lg-6 col-md-6 col-sm-6 peanutimage">
                    <div class="heightimage"></div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 beigeshape">
                    <div class="databox">
                        <h4>The filling of</h4>
                        <h2>Peanut Butter</h2>
                        <div class="clearfix"></div>
                        <p>Peanut butter is a nutritious spread packed with protein, healthy fats, and essential vitamins like E and B6. It provides a quick energy boost, supports heart health, and helps with muscle recovery. Rich in fiber, it aids digestion and keeps you feeling full longer, making it a perfect addition to a balanced diet.</p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-md-center mb-4 slide-in">
                <div class="col-lg-6 col-md-6 col-sm-6 beigeshape">
                    <div class="databox">
                        <h4>The filling of</h4>
                        <h2>Pistachio Butter</h2>
                        <div class="clearfix"></div>
                        <p>Pistachio butter is a nutrient-rich spread packed with antioxidants, protein, and healthy fats. It supports heart health, helps manage weight, and promotes healthy skin thanks to its high vitamin E content. With essential vitamins like B6 and potassium, it also aids in maintaining a balanced nervous system and overall wellness.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 pistachioimage">
                    <div class="heightimage"></div>
                </div>
            </div>

            <div class="row justify-content-md-center mb-4 slide-in">
                <div class="col-lg-6 col-md-6 col-sm-6 almondimage">
                    <div class="heightimage"></div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 beigeshape">
                    <div class="databox">
                        <h4>The filling of</h4>
                        <h2>Almond Butter</h2>
                        <div class="clearfix"></div>
                        <p>Almond butter is a powerhouse of nutrition, rich in protein, fiber, and healthy fats. It supports heart health, helps manage blood sugar levels, and provides a good dose of vitamin E, which promotes healthy skin. Its high magnesium content also supports bone health and muscle function, making it a great addition to a balanced diet.</p>
                    </div>
                </div>
            </div>

            <div class="row justify-content-md-center mb-4 slide-in">
                <div class="col-lg-6 col-md-6 col-sm-6 beigeshape">
                    <div class="databox">
                        <h4>The filling of</h4>
                        <h2>Cashew Butter</h2>
                        <div class="clearfix"></div>
                        <p>Cashew butter is a creamy, nutrient-dense spread rich in heart-healthy fats, protein, and essential minerals like magnesium and copper. It supports bone health, boosts energy levels, and promotes healthy brain function. With a mild, naturally sweet flavor, it’s a delicious and nutritious choice for a balanced diet.</p>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-6 cashewimage">
                    <div class="heightimage"></div>
                </div>
            </div>

        </div>
    </section>

    <section class="cta-section">
        <div class="container text-center">
            <div class="col-lg-11 col-md-12 col-sm-12 mx-auto slide-in">
                <h3>So, are you ready to awaken your senses and nourish your soul with DAKTS?</h3>
                <div class="clearfix"></div>
                <p>Savor the exquisite flavors bite to bite and reconnect with the essence of who you are – a steward of the earth, fueled by passion, discipline, and a deep reverence for our shared origins.</p>
            </div>
        </div>
    </section>

    <section id="parallax-section" class="parallax-container">
        <div id="parallax" class="parallax-background">
            <div class="container-fluid parallax-content text-center slide-in">
                <h4>ALMOND BUTTER STUFFED DATES COVERED WITH DARK CHOCOLATE</h4>
                <h2>Fall into this sweet temptation</h2>
            </div>
        </div>
    </section>

</main>

