.daktsfooter{
    background-image: url(/textures/Textura-03.jpg);
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 0.02rem;
}
.footer{
    background-color: #01605a;
    padding: 5rem 2rem 2rem 2rem;
    margin-top: 0.2rem;
}
h3{
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    font-style: normal;
    color: #ffcfa7;
}
h4 {
    font-family: "Ubuntu", sans-serif;
    font-weight: 700;
    font-size: 1.6rem;
    font-style: normal;
    color: white;
}
p {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: .9rem;
    font-style: normal;
    color: #ffcfa7;
    letter-spacing: 0.03rem;
}
.clearfix{
    height: 2rem;
}
.alignend{
    align-content: end;
}
.copyright {
    background-image: url(/textures/nutstexture2.webp);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}
.copyright p{
    font-family: "IBM Plex Mono", monospace;
    font-weight: 400;
    font-size: 0.7rem;
    font-style: normal;
    text-transform: uppercase;
    color: white;
}
.copyright a {
    font-weight: 600;
    text-decoration: none;
    color:#ff852d;
}
.copyright a:hover {
    color:#ffcfa7;
}
#credits{
    background-color: #01605a;
}
.backdrop{
    backdrop-filter: brightness(1.01);
    padding: 5rem 0 1rem 0;
}

@media (max-width: 575.98px) {
    h3 {
        font-size: 1.5rem;
    }
    h4 {
        font-size: 1.2rem;
    }
    .disapear{
        display: none;
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    h3 {
        font-size: 1.7rem;
    }
    h4 {
        font-size: 1.3rem;
    }
    .disapear{
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991.98px) {
    h3 {
        font-size: 1.5rem;
    }
    h4 {
        font-size: 1.4rem;
    }
    .disapear{
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    
}