<footer class="daktsfooter">
    <section class="footer">
        <div class="container">
            <div class="row justify-content-md-center">
                <div class="col-lg-3 col-md-4 col-sm-6 col-6 nutshape">
                    <a class="navbar-brand" routerLink="home">
                        <img src="/logo-vertical-dakts.webp" alt="Logo DAKTS" width="150">
                    </a>
                    <div class="clearfix"></div>
                    <h3>Join the DAKTS Awakening</h3>
                    <div class="clearfix"></div>
                </div>
                <div class="col-lg-7 col-md-8 col-sm-6 alignend">
                    <div class="row row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-2 g-sm-2 g-md-2 g-lg-3">
                        <div class="col disapear">
                            <div class="clearfix"></div>
                        </div>
                        <div class="col">
                            <h4>Products</h4>
                            <p>Nutbutter stuffed dates</p>
                            <p>Protein Flan</p>
                            <p>Organic sugar date</p>
                        </div>
                        <div class="col">
                            <h4>Contact</h4>
                            <p>info&#64;dakts.com</p>
                            <p>+1 2310 566 874</p>
                            <p>E-shop (09:00-15:00)</p>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</footer>
